@{
    ViewBag.Title = "Home Page";
}

<h1> @ViewBag.Message </h1>

<div class="row homePage">
    <div class="col-12 text-center welcometxt">
        <h1 >Welcome to the Bitwise Dashboard!</h1>
    </div>
</div>


